@media (max-width: 480px) {
  .nav-links ul {
    display: none;
  }

  .slidemenu-opn-btn {
    display: block;
  }

  .slidemenu {
    width: 50%;
  }

  .slidemenu-mode {
    padding: 10px 15px 50px 15px;
  }

  .nav-container{
    padding: 5px 30px;
  }

  .nav-logo{
    font-size: 25px;
  }

  .slidemenu-opn-btn i{
    font-size: 21px;
  }

}

@media (min-width: 480px) and (max-width: 768px) {
  .nav-links ul {
    display: none;
  }

  .slidemenu-opn-btn {
    display: block;
  }

  .slidemenu {
    width: 50%;
  }

  .slidemenu-mode {
    padding: 10px 20px 50px 20px;
  }

  .nav-container{
    padding: 5px 30px;
  }

  .nav-logo{
    font-size: 25px;
  }

  .slidemenu-opn-btn i{
    font-size: 21px;
  }


}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-links ul {
    display: none;
  }

  .slidemenu-opn-btn {
    display: block;
  }


}

@media (min-width: 1024.1px) {
  .slidemenu-show {
    right: -50%;
  }
}